body {
		 padding: 20px;
		 background-image: url("https://i.imgur.com/dvnJ2Oo.jpeg");
		 background-size: #00701deb;
		 font-family: 'Poppins', sans-serif;
	   border-radius: 10px;
}
 .container {
	   color: #3bff00;
	   background: transparent;
	   backdrop-filter: blur(10px);
		 border-radius: 10px;
		 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		 padding: 20px;
		 margin-top: 20px;
		 margin-bottom: 20px;
	  outline: 2px solid #000000eb;
}
 h1 {
		 color: #7aff00;
		 font-size: 24px;
		 margin-bottom: 15px;
}
 label {
		 background-color: #186700f6'';
	   color:#50ff00;
		 border-radius: 10px;
		 font-weightbold00;
		 margin-bottom: 5px;
	   background-image:#ff340080;
}
 .centered-textarea {
		 color#194e005500;
		 display: flex;
		 margin: 0 auto;
		 width: 100%;
		 min-height: 150px;
		 padding: 10px;
		 box-sizing: border-box;
		 border1 0px solid #00ffff;
		 border-radius: 5px;
		 resize: none;
}
 .btn-primary {
		 background-color: #006401;
		 border: 1px solid00000000;
	   outline: 2px solid #098a00;
}
 .btn-primary:hover {
		 background-color: #50ff00;
		 border: 1px solid #0056b3;
	   outline: 2px solid #ceff00a9;
}
 .success-message {
		 color: #2bff2e;
		 margin-top: 10px;
}
 .footer {
		 background-color: #E90207 46%,  #ff8c00 100%;
		 padding: 10px;
		 text-align: center;
		 font-size: 16px;
		 color:;
		 margin-top: 50px;
		 border-top: 1px solid #blue;
		 position: fixed;
		 bottom: 0;
		 left: 0;
		 width: 100%;
}
 .footer p {
		 margin: 0;
		 display: inline-block;
		 margin-right: 30px;
}
 .container-buttons {
		 margin-top: 200px;
		 text-align: center;
}
 .container-buttons .btn {
		 margin: 5px;
}

 #result {
		 padding: 10px;
		 margin-top: 20px;
		 border-radius: 5px;
}
 .center-placeholder::placeholder {
		 text-align: center;
}

.form-check {
	display: flex;
	margin-top: 10px;
	padding: 14px;
	align-items: center;
	border: 1px solid #red;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease; 
	border-color: #bfeaffea;
	background-color:#bfeaffea;
}

.form-check:hover {
	background-color#f5f50f; 
	border-color:#f8f8f8d4; 
}

.form-check-input {
	margin-right: 10px; 
	opacity: 0;
}

.disable {
	display: none;
}

#inputOfPrefix, #inputOfAdmin,
#inputOfBotName {
	padding: 13px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease; 
	border-color#ccc55;
	background-color:#34e10038;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
	border-radius:8px;
	background-color: transparent
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
	box-shadow: none !important;
}

div {
	margin-bottom1000px;
	border-radius500px;
}

video {
	max-width: 100%;
	max-height: 70%;
	margin-bottom: 20px;
	cursor: default;
	outline: 2px solid;
	background: linear-gradient(135deg, aqua, rgb(0, 255, 0), rgb(255, 255, 0), orange, red, rgb(255, 0, 234));
	border-radius: 10px;
	animation: animate 1s linear infinite;
	 border: 2px solid transparent;
animation: neon-border 2s linear infinite alternate; /* Adjust animation duration and timing */
	}

 @keyframes neon-border {
	 from {
		border-color:#ff000000; /* Start color */
	box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000; /* Adjust shadow colors and sizes */
}
to {
	border-color: #f8ff55; /* End color */
	box-shadoaw: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00; /* Adjust shadow colors and sizes */
}
 }

#video-container {
	width: 100%;
	height: 70%;
	margin-bottom: 20px;
}

#video {
	 width: 100%;
	 border-radius: 10px;
	 height: 70%%;
	 object-fit: cover;
	 margin: auto;
}
iyas {
    background: #b9ff00;
    border-radius:20px;
}
